<aside
    class="w-full text-sm bg-white rounded-[20px] shadow-sm border border-slate-50 p-2.5 grid grid-cols-2 gap-2 lg:flex lg:flex-col lg:gap-1 lg:col-start-1 lg:row-start-1"
    aria-label="Sidebar Navigation">

    <button
        class="flex items-center justify-center lg:justify-start gap-2 lg:gap-4 p-2.5 cursor-pointer rounded-xl bg-blue-50 text-blue-600 font-semibold transition-colors duration-200">
        <i class="fa-regular fa-newspaper w-5 text-center"></i>
        <span class="">Feed</span>
    </button>

    <button
        class="flex items-center justify-center lg:justify-start gap-2 lg:gap-4 p-2.5 cursor-pointer rounded-xl bg-slate-50 lg:bg-transparent text-slate-700 font-semibold hover:bg-slate-100 lg:hover:bg-slate-50 transition-colors duration-200 group">
        <i
            class="fa-solid fa-wand-magic-sparkles w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span class="">My Posts</span>
    </button>

    <button
        class="flex items-center justify-center lg:justify-start gap-2 lg:gap-4 p-2.5 cursor-pointer rounded-xl bg-slate-50 lg:bg-transparent text-slate-700 font-semibold hover:bg-slate-100 lg:hover:bg-slate-50 transition-colors duration-200 group">
        <i class="fa-solid fa-globe w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span class="">Community</span>
    </button>

    <button
        class="flex items-center justify-center lg:justify-start gap-2 lg:gap-4 p-2.5 cursor-pointer rounded-xl bg-slate-50 lg:bg-transparent text-slate-700 font-semibold hover:bg-slate-100 lg:hover:bg-slate-50 transition-colors duration-200 group">
        <i
            class="fa-regular fa-bookmark w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span class="">Saved</span>
    </button>
</aside>