<div class="max-w-[700px] mx-auto p-4 font-sans">
    <button routerLink="/feed" class="mb-4 cursor-pointer flex items-center gap-2 text-slate-600 hover:text-slate-900">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </button>

    @if (postDetails) {
    <div class="bg-white rounded-[16px] shadow-sm border border-slate-200 p-4">

        @if (!isEditMode) {
        <div class="flex items-start justify-between mb-3">
            <div class="flex items-center gap-3">
                <img [src]="postDetails.user.photo" [alt]="postDetails.user.name"
                    class="size-10 rounded-full object-cover shrink-0 bg-slate-100 border border-slate-50" />
                <div>
                    <span class="text-[15px] font-bold text-slate-900 leading-tight hover:underline cursor-pointer">
                        {{postDetails.user.name}}
                    </span>
                    <div class="flex items-center text-[13px] text-slate-500 mt-0.5 gap-1">
                        <span>@{{postDetails.user.username}}</span>
                        <span>&middot;</span>
                        <span>{{postDetails.createdAt | timeAgo }}</span>
                        <span>&middot;</span>
                        <div class="p-0 w-fit items-center text-sm rounded-base">
                            @if (postDetails.user._id === userId) {
                            <select (change)="updatePrivacy(postDetails._id, $event)"
                                class="border-none bg-transparent cursor-pointer ring-0 py-0 px-2 text-xs outline-none">
                                <option [selected]="postDetails.privacy === 'public'" value="public">public</option>
                                <option [selected]="postDetails.privacy === 'following'" value="following">followers
                                </option>
                                <option [selected]="postDetails.privacy === 'only_me'" value="only_me">only me</option>
                            </select>
                            } @else {
                            <span
                                class="border-none bg-transparent ring-0 py-0 px-2 text-xs outline-none">{{postDetails.privacy}}</span>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative group">
                <button class="hover:bg-slate-100 p-2 rounded-full transition-colors">
                    <svg class="w-6 h-6 text-slate-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </button>
                <div
                    class="z-30 hidden group-hover:block absolute right-0 bg-white border border-slate-100 rounded-xl shadow-lg w-44">
                    <ul class="p-2 text-sm text-slate-700 font-medium">
                        @if (postDetails.user._id === userId) {
                        <li>
                            <button (click)="EditPost(postDetails)"
                                class="inline-flex items-center w-full p-2 hover:bg-slate-50 rounded-lg">Edit
                                post</button>
                        </li>
                        <li>
                            <button (click)="deletePostItem(postDetails._id)"
                                class="inline-flex text-red-600 items-center w-full p-2 hover:bg-red-50 rounded-lg">Delete
                                post</button>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-[16px] text-slate-900 mb-4">
            @if (postDetails.body) { <p class="whitespace-pre-wrap">{{postDetails.body}}</p> }
            @if (postDetails.image && !postDetails.sharedPost) {
            <div class="rounded-xl overflow-hidden border border-slate-100 mt-3">
                <img [src]="postDetails.image" class="w-full h-auto max-h-[600px] object-cover" />
            </div>
            }
        </div>
        }

        @else {
        <div class=" relative animate-in fade-in duration-300">
            <div class="flex items-center justify-between border-b border-slate-50 pb-2">
                <h3 class="font-bold text-slate-800">Edit your post</h3>
                <button (click)="isEditMode = false"
                    class="absolute top-1 right-1 bg-gray-800/60 hover:bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center transition-colors cursor-pointer"><i
                        class="fa-solid fa-xmark text-lg"></i></button>
            </div>

            <textarea [formControl]="content"
                class="w-full h-32 p-4 bg-slate-50 rounded-2xl border border-slate-100 text-[16px] focus:ring-2 focus:ring-blue-100 focus:border-blue-400 outline-none resize-none transition-all"></textarea>

            <div class="flex items-center justify-between">
                <label for="edit-photo"
                    class="flex items-center cursor-pointer p-2 hover:bg-slate-100 rounded-full transition-colors">
                    <i class="fa-solid fa-image text-green-500 text-xl"></i> <span
                        class="text-[14px] font-semibold text-slate-600">Photo / video</span>

                    <input type="file" id="edit-photo" class="hidden" (change)="changeImg($event)">
                </label>
                <div class="flex gap-2">
                    <button (click)="isEditMode = false"
                        class="px-4 py-2 text-slate-600 font-bold hover:bg-slate-50 rounded-xl">Cancel</button>
                    <button (click)="updatePost($event)"
                        class="px-6 py-2 bg-blue-600 text-white rounded-xl font-bold hover:bg-blue-700 shadow-md">Save</button>
                </div>
            </div>

            @if (imgUrl) {
            <div class="relative w-32 h-32 rounded-xl overflow-hidden border border-slate-200">
                <img [src]="imgUrl" class="w-full h-full object-cover">
                <button type="button" (click)="removeImg()"
                    class="absolute top-1 right-1 bg-gray-800/60 hover:bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center transition-colors cursor-pointer"
                    title="Remove image">
                    <i class="fa-solid fa-xmark text-xs"></i>
                </button>
            </div>
            }
        </div>
        }

        @if (postDetails.sharedPost && !isEditMode) {
        <div class="border border-slate-200 rounded-2xl p-4 mb-2 bg-slate-50/50">
            <p class="text-[14px] text-slate-600 mb-2">{{postDetails.sharedPost.body}}</p>
            @if (postDetails.sharedPost.image) {
            <img [src]="postDetails.sharedPost.image" class="rounded-xl w-full max-h-60 object-cover">
            }
        </div>
        }

        <div class="mt-4">
            <div class="flex items-center justify-between text-[13px] text-slate-500 mb-3 px-1">
                <div class="flex items-center gap-1.5">
                    <div
                        class="w-5 h-5 rounded-full bg-blue-500 text-white flex items-center justify-center text-[10px]">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <span>{{postDetails.likesCount}} likes</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>{{postDetails.sharesCount}} shares</span>
                    <span>{{postDetails.commentsCount}} comments</span>
                </div>
            </div>

            <hr class="border-t border-slate-100 mb-1" />

            <div class="flex items-center justify-between px-1 py-1 gap-1">
                <button (click)="onLikeClick(postDetails)"
                    class="flex-1 cursor-pointer flex items-center justify-center gap-2 font-semibold text-[14px] py-2.5 rounded-lg transition-colors"
                    [class.text-blue-600]="postDetails.isLiked">
                    <i [class]="postDetails.isLiked ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up'"></i>
                    Like
                </button>
                <button (click)="toggleComments(postDetails._id)"
                    class="cursor-pointer flex-1 flex items-center justify-center gap-2 text-slate-600 font-semibold text-[14px] py-2.5 rounded-lg">
                    <i class="fa-regular fa-comment"></i> Comment
                </button>
                <button (click)="openShareModal(postDetails)"
                    class="flex-1 cursor-pointer flex items-center justify-center gap-2 text-slate-600 font-semibold text-[14px] py-2.5 rounded-lg">
                    <i class="fa-solid fa-share-nodes"></i> Share
                </button>
            </div>
        </div>

        <hr class="border-t border-slate-100 mt-1 mb-4" />
        <app-comments [postId]="postDetails._id"></app-comments>

    </div>
    }

    @if (isShareModalOpen && selectedPostForShare) {
    <div
        class="fixed inset-0 z-[999] flex items-center justify-center bg-transparent p-2.5 animate-in fade-in duration-200">

        <div class="fixed inset-0 bg-transparent cursor-default" (click)="closeShareModal()"></div>

        <div
            class="relative z-[1000] bg-white rounded-[30px] w-full max-w-[580px] max-h-[600px] border border-slate-200 overflow-hidden animate-in zoom-in duration-300 flex flex-col">

            <div class="flex items-center justify-between pt-1 border-b border-slate-100 bg-white">
                <h3 class="text-lg font-bold text-slate-900 flex-1 ml-3">Share post</h3>
                <button (click)="closeShareModal()"
                    class="cursor-pointer text-slate-400 hover:text-white hover:bg-red-500 rounded-full me-2 p-2 transition-colors">
                    <i class="fa-solid fa-xmark text-lg"></i>
                </button>
            </div>

            <div class="p-4 space-y-4 overflow-y-auto max-h-[70vh] bg-white">

                <textarea [formControl]="shareContent"
                    class="w-full h-18 p-4 bg-slate-50 rounded-2xl border border-slate-100 text-[16px] placeholder-slate-500 focus:ring-2 focus:ring-blue-100 focus:border-blue-400 outline-none resize-none transition-all"
                    placeholder="What's on your mind?"></textarea>

                <div class="border border-slate-200 rounded-2xl p-2.5 space-y-3 bg-white">

                    <div class="flex items-center gap-3">
                        <img [src]="selectedPostForShare.user.photo"
                            class="w-10 h-10 rounded-full object-cover border border-slate-100">
                        <div class="flex flex-col">
                            <h4 class="font-bold text-[15px] text-slate-900 leading-tight">
                                {{selectedPostForShare.user.name}}
                            </h4>
                            <span class="text-[12px] text-slate-500 mt-0.5">
                                {{selectedPostForShare.user.username}} &middot; {{selectedPostForShare.createdAt |
                                timeAgo }}
                            </span>
                        </div>
                    </div>

                    <p class="text-[14px] text-slate-700 leading-relaxed line-clamp-3">
                        {{selectedPostForShare.body}}
                    </p>

                    @if (selectedPostForShare.image) {
                    <div class="rounded-xl overflow-hidden border border-slate-100 max-h-70">
                        <img [src]="selectedPostForShare.image" class="w-full h-full object-cover">
                    </div>
                    }
                </div>
            </div>

            <div class="p-2 border-t border-slate-100 flex justify-end gap-3 bg-white">
                <button (click)="closeShareModal()"
                    class="cursor-pointer px-5 py-2.5 text-[15px] text-slate-600 font-bold hover:bg-slate-100 rounded-xl transition-colors">
                    Cancel
                </button>
                <button (click)="confirmShare($event)"
                    class="cursor-pointer px-5 py-2 text-[15px] bg-blue-600 text-white font-bold rounded-xl hover:bg-blue-700 shadow-lg hover:shadow-blue-200 transition-all">
                    Share now
                </button>
            </div>
        </div>
    </div>
    }
</div>