<section class="py-4 lg:py-6 bg-[#f4f6f8] min-h-screen">
    <div
        class="max-w-screen-xl mx-auto p-2 grid grid-cols-1 lg:grid-cols-[240px_minmax(0,1fr)_320px] gap-4 lg:gap-6 items-start">

        <div class="lg:col-start-1 lg:row-start-1">
            <app-side-left></app-side-left>
        </div>

        <div class="lg:col-start-3 lg:row-start-1">
            <app-side-right></app-side-right>
        </div>

        <div class="lg:col-start-2 lg:row-start-1 w-full flex flex-col gap-4">
            <app-feed-content></app-feed-content>
        </div>

    </div>
</section>